/*font-family: 'Anonymous Pro', monospace;
font-family: 'Bad Script', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'PT Mono', monospace;*/
body{
    margin: 0px;
    background-color: #faf0ca;
}

.nav-button{
    display: inline-block;
    padding: 7px 10px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f95738;
    background-color: #0d3b66;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px   #0d3b66;
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
}
.nav-button:hover{
    background-color: #630929;
}

#about::after{
    content:"\1F64B";
}
#contact::after{
    content:"\1F4E9";
}
#next::after{
    content:"\1F449";
}

div h1{
    display: block;
    font-family: 'Anonymous Pro', monospace;
    color:#630929;
    letter-spacing: 15px;
    background-color: #f4d35e;
    border-radius: 15px;
    width:;
    margin:0px;
    padding: 5px 5px 5px 15px;
}

#copy-right::before{
    content:"\00A9";
}
#copy-right{
    font-family: 'Bad Script', cursive;
    font-size: 15px;
}