/*
font-family: 'Comic Neue', cursive;
font-family: 'Hepta Slab', serif;
font-family: 'Roboto Flex', sans-serif;
*/
html,body{
    font-size: 10px;
    margin: 0px;
    background-color: #D9DCD6;
    font-family: 'Roboto Flex', sans-serif;
}

.nav-button{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 0.3em 0.5em;
    margin: 1em 0.5em;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #780000;
    background-color: #fae7a1e9;
    border: solid 0.1em #f4d35e;
    border-radius: 1.5em;
}
.nav-button:hover{
    background-color: #D9DCD6;
    color: #3A7CA5;
    box-shadow: .2em .2em .3em .1em rgba(238, 151, 75, 0.479);
    border: solid 0.1em #f0c975;
    transform: translate3d(0.1em, -0.1em, .2em);
    cursor: pointer;
}

#about::after{
    content:"\1F64B";
}
#contact::after{
    content:"\1F4E9";
}
#next::after{
    content:"\1F449";
}

#portfolio{
    display: block;
    position:relative;
    font-size: 3.5rem;
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.5em;
    color:#D9DCD6;
    /* background-color: #3A7CA5; */
    /* border: none; */
    background-color: #f7eabae9;
    color:#780000;
    border-radius: 2em;
    width:75%;
    margin:7em 0 1em 4em;
    padding: 0.5em 0 0.5em 2em;
}

::selection{
    color:#780000;
    background-color: #FDF0D5;
}

.profile{
    position:absolute;
    top: 200px;
    right: 0;
    left: 0;
    /* font-family: 'Comic Neue', cursive; */
    font-size: 1rem;
    color: rgba(3, 4, 94,1);
    text-align: center;
    letter-spacing: normal;
}

#copy-right::before{
    content:"\000A9";
    font-size: 1.5rem;
}
#copy-right{
    /* font-family: 'PT Mono', monospace, cursive; */
    font-size: 1rem;
}
#copy-right span{

}